
.row{
	font-family: 'Cormorant Garamond', serif;
	font-weight: "Light 400";
}
.col-md-12{
	font-family: 'Cormorant Garamond', serif;
	font-weight: "Light 300 Italic";
}
.text-center{
	font-family: 'Cedarville Cursive', cursive;
}
.